/bin/buildout
/bin/correlator
/bin/ctags
/bin/python
/build/bdist.*
/build/lib/vigilo
/buildout-g2p.cfg
/.coverage
/develop-eggs/*.egg-link
/dist
/doc/apidoc
/doc/.build
/eggs
/ID
/.installed.cfg
/lib/*.egg-info
/.noseids
/service/correlator/supervise
/service/memcached/supervise
/tags
/TAGS
