/bin/buildout
/bin/correlator
/bin/python
/build/lib/vigilo
/develop-eggs
/dist
/doc/apidoc
/doc/.build
/eggs
/.installed.cfg
/lib/*.egg-info
/service/correlator/supervise
/service/memcached/supervise
