/bin/buildout
/bin/correlator
/bin/ctags
/bin/python
/build/lib/vigilo
/develop-eggs
/dist
/doc/apidoc
/doc/.build
/eggs
/ID
/.installed.cfg
/lib/*.egg-info
/service/correlator/supervise
/service/memcached/supervise
/tags
/TAGS
/unittests/.coverage
