Source: vigilo-correlator
Section: python
Priority: extra
Maintainer: Vigilo Team <contact@projet-vigilo.org>
Build-Depends:
 debhelper (>= 7.0.50~),
 python (>= 2.6.6-3~),
 python-setuptools,
 python-all
Standards-Version: 3.8.4
Homepage: http://www.projet-vigilo.org/
X-Python-Version: >= 2.5

Package: vigilo-correlator
Architecture: all
#Suggests: vigilo-correlator-doc
Depends:
 ${misc:Depends},
 ${python:Depends},
 nagios3,
 adduser (>= 3.11),
 grep,
 passwd
Description: Vigilo correlator
 The Vigilo correlation engine aggregates alerts
 to reduce information overload and helps pinpoint
 the real cause of a problem.

#Package: vigilo-correlator-doc
#Architecture: all
#Section: doc
#Depends: ${sphinxdoc:Depends} ${misc:Depends}
#Description: Vigilo correlator (documentation)
# The Vigilo correlation engine aggregates alerts
# to reduce information overload and helps pinpoint
# the real cause of a problem.
# .
# This package contains documentation about the Vigilo correlator.

