[Unit]
Description=Vigilo correlator

After=syslog.service
After=rsyslog.service
After=network.target
After=supervisord.service
After=rabbitmq-server.service
After=postgresql-9.2.service


[Install]
WantedBy=multi-user.target


[Service]
Type=simple
ExecStart=/bin/bash -c 'while /bin/true; do /bin/sleep 3600; done'
