[Unit]
Description=Vigilo correlator #%I

After=syslog.service
After=rsyslog.service
After=network.target
After=supervisord.service
After=rabbitmq-server.service
After=postgresql-9.2.service
BindsTo=vigilo-correlator.service


[Install]
WantedBy=multi-user.target
RequiredBy=vigilo-correlator.service


[Service]
Type=simple
Environment=VIGILO_SETTINGS=/etc/vigilo/correlator/settings.ini
EnvironmentFile=-/etc/sysconfig/vigilo-correlator
EnvironmentFile=-/etc/sysconfig/vigilo-correlator-%i
User=vigilo-correlator
Restart=on-failure

# Evite la création de services dont le nom d'instance n'est pas un nombre,
# ou bien est un nombre inférieur à 1.
ExecStartPre=/usr/bin/test %i -eq %i -a %i -ge 1
ExecStart=/usr/bin/vigilo-correlator -d /var/lib/vigilo/correlator --pidfile '' -n vigilo-correlator --config ${VIGILO_SETTINGS} --id %i
