[Unit]
Description=Vigilo correlator

After=syslog.service
After=rsyslog.service
After=network.target

After=supervisord.service
After=rabbitmq-server.service
After=postgresql-9.2.service


[Install]
WantedBy=multi-user.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/vigilo-correlator
User=vigilo-correlator
Restart=on-failure
ExecStart=/usr/bin/vigilo-correlator -d /var/lib/vigilo/correlator --pidfile '' -n vigilo-correlator
